@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap");
/* _reset.scss */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
h1 {
  font-family: "Cinzel", serif;
  font-size: 2.5rem;
  font-weight: 700;
  color: #ECDBBA;
}

h2 {
  font-family: "Cinzel", serif;
  font-size: 2rem;
  font-weight: 700;
  color: #496da5;
}

h3 {
  font-family: "Cinzel", serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: #C84B31;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: #ECDBBA;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3em;
  gap: 2em;
  margin: 0 auto;
  width: 100%;
}

.header__logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
  min-width: 200px;
  max-width: 250px;
}

.header__text {
  text-align: center;
}

@media (min-width: 1200px) {
  .header {
    flex-direction: row;
    justify-content: center;
    width: 75%;
    max-width: 1200px;
  }
  .header__text {
    text-align: left;
  }
}
.collection {
  display: grid;
  justify-content: center;
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
}

.collection__item {
  width: 100%;
  padding: 1rem;
}

@media (min-width: 768px) {
  .collection {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  .collection {
    grid-template-columns: repeat(3, 1fr);
  }
}
.card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
  justify-content: space-between;
  text-align: center;
  height: 100%;
  gap: 2rem;
  padding: 1rem;
}

.card__image {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card__genre {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.card__genre-item {
  background-color: #C84B31;
  font-size: clamp(0.9rem, 1vw, 1rem);
  padding: 0.5rem;
  text-wrap: nowrap;
}

.card__links {
  display: flex;
  gap: 1rem;
  width: 50%;
}

.card__links a {
  transition: filter 0.3s;
}

.card__link:hover {
  filter: none;
}

.card__links:hover .card__link:not(:hover) {
  filter: blur(0.2rem);
}

footer {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

body {
  background-color: #191919;
}

/*# sourceMappingURL=style.css.map */
