@use './styles/reset';
@use './styles/colors';
@use './styles/typography';
@use './styles/header';
@use './styles/collection';
@use './styles/card';
@use './styles/footer';

body { 
    background-color: colors.$color-quaternary;
}

hr { 
    border: 1px solid colors.$color-secondary;
    width: 100%;
}

