@use './colors' as *;

.card { 
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
    justify-content: space-between;
    text-align: center;
    height: 100%;
    gap: 2rem;
    padding: 1rem;
}

.card__player { 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 100%;
}

.card__description { 
    font-size: clamp(0.9rem, 1vw, 1rem);
    height: 150px;
    overflow: scroll;
}

iframe { 
    width: 100%;
    height: 100%;
    border: none;
}

.card__image { 
    display: flex;
    justify-content: center;
    width: 100%; 
    height: auto; 
    object-fit: cover;

}

.card__genre { 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.card__genre-item { 
    background-color: $color-tertiary;
    font-size: clamp(0.9rem, 1vw, 1rem);
    padding: 0.5rem;
    text-wrap: nowrap;
}

.card__links { 
    display: flex;
    gap: 1rem;
    width: 50%;
}

.card__links a {
    transition: filter 0.3s;
}

.card__link:hover {
    filter: none;
    filter: invert(0.5);
}

.card__links:hover .card__link:not(:hover)  {
    filter: blur(0.2rem);
   
}


