@use 'responsive' as *;



.header { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3em;
    gap: 2em;
    margin: 0 auto;
    width: 100%;

}

 .header__logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
    min-width: 200px;
    max-width: 250px;


}

.header__text {
    text-align: center;
}

@include media-minwidth($xl-screen) {
    .header {
        flex-direction: row;
        justify-content: center;
        width: 75%;
    }

    .header__text {
        text-align: left;
    }
}

@include media-minwidth($xxl-screen) {
    .header {
        width: 50%;
    }
}