// Define screen size variables
$sm-screen: 480px;
$md-screen: 768px;
$lg-screen: 1024px;
$xl-screen: 1200px;
$xxl-screen: 1400px;

@mixin media-minwidth($screensize) {
	@media (min-width: $screensize) {
		@content;
	}
}